<ion-view title="Log In">
	<ion-content has-bouncing="false">
		<form>
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Username</span>
					<input autocorrect="off" autocomplete="off" autocapitalize="off" type="text" placeholder="Username" ng-model="user.username">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Password</span>
					<input autocorrect="off" autocomplete="off" autocapitalize="off" type="password" placeholder="Password" ng-model="user.password">
				</label>
			</div>
			<span class="button button-clear button-assertive form-error" ng-show="signInError">{{signInError}}</span>
			<div>
				<button class="button button-block button-positive" ng-click="signIn(user)" ng-disabled="loading">
					{{loading ? 'Loggin In...' : 'Log In'}}
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>
