<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
    	<div class="splash__container">
	        <h1 class="splash-logo">GoNoGo</h1>
	        <!-- <a ng-click="facebookLogIn()" class="button button-outline button-full button-positive">Facebook</a> -->
	        <a href="#/sign-in" class="button button-clear button-full button-positive">Log In</a>
	        <a href="#/sign-up" class="button button-clear button-full button-positive">Sign Up</a>
        </div>
    </ion-content>
</ion-view>
