.quest-container {
  margin-top: 10rem;
  margin: 3rem 0rem;
}

.quest-container h1 {
  text-align: center;
}

.quest-container textarea {
  border: 0.2rem solid cornflowerblue;
  width: 100%;
  padding: 0.4rem;
}

.input-label.question {
}
